div {
	width: 250px;
	height: 600px;
	background-color: red;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transition: left 1.5s;
	-moz-transition: left 1.5s;
	-ms-transition: left 1.5s;
	-o-transition: left 1.5s;
	transition: left 1.5s;
}

.moverDerecha {
	left: 200px
}