html, body {
	margin: 0;
	padding: 0
}

div.contenedor {
	width: 100%;
	height: 20000px;
	background-color: rgb(23,167,40)
}

div.estadio {
	position:fixed;
	width:500px;
	height: 400px;
	background-color: red;
	top: -400px;
	left: -500px;
}