div {
	width: 200px;
	height: 200px;
	background-color: red;
	border-radius: 50%;
	animation: 5s moverse;
}

@keyframes moverse {
	0% {
		transform: translate(0px, 0px);
		background-color: red;
	}
	50% {
		transform: translate(400px, 400px);
		background-color: green;
	}

	100% {
		transform: translate(800px, 0px);
		background-color: blue;
	}
}

